html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin: 1rem;
}

main {
    display: flex;
    margin: 1rem;
    width: calc(100% - 2rem);
    flex-wrap: wrap;
    justify-content: center;
    gap: .8rem;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

img {
    border: 1px solid black;
    margin-bottom: .8rem;
}

details {
    margin-top: 1.5rem;
}

details p {
    font-size: 0.75rem;
    padding-left: 1.5rem;
    margin-top: .75rem;
    letter-spacing: .08rem;
    line-height: 1.35rem;
}

.card {
    padding: 1rem;
    border: 1px solid black;
    width: 30rem;
}

.day {
    background: radial-gradient(ellipse at top left, rgba(250, 255, 98, 0.7), rgba(255, 244, 223, 0.1)),
                radial-gradient(circle at bottom right, rgba(27, 27, 255, 0.6), rgba(137, 231, 255, 0.1));
}

.night {
    background: radial-gradient(ellipse at top left, rgba(214, 41, 148, 0.7), rgba(252, 234, 255, 0.1)),
                radial-gradient(circle at bottom right, rgba(12, 9, 88, 0.6), rgba(137, 231, 255, 0.4));
}

.temperature {
    font-size: 3rem;
    margin-top: 1.5rem;
    display: inline;
    float: right;
}

.short-forecast-description {
    font-style: italic;
}

.timeframe {
    margin-bottom: 1rem;
}